name: Carrefour API Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build
      run: mvn -B clean compile --file pom.xml

    - name: Test
      run: mvn -B test --file pom.xml

    - name: Reports
      if: always()
      run: mvn surefire-report:report --file pom.xml

    - name: Upload
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: reports
        path: target/surefire-reports/
        retention-days: 30
